<!--The content below is only a placeholder and can be replaced.-->
<div class="toDoContainer">
  <h1 class="header">
    Welcome to {{ title }}!
  </h1>
  <form [formGroup]="form" (ngSubmit)="addToDo()">
    <div>
      <div class="itemHeader">
        <p *ngIf="form.get('toDoInput').invalid" >Добавьте задание</p>
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="ToDo"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
          formControlName="toDoInput"
        >
        <div class="input-group-append">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="form.invalid"
          >Button
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="itemList">
    <app-to-do-item *ngFor="let item of toDoListItems; let i = index " [idx] = "i" [toDoItem] = "item"></app-to-do-item>
  </div>
</div>

